@tailwind base;
@tailwind components;
@tailwind utilities;

.rendered-html p {
  margin-top: 8px;
}

.rendered-html pre {
  overflow: auto;
  padding: 2px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.rendered-html a {
  text-decoration: underline;
}
