<form class='mt-4 ml-3 mb-14'>
  <textarea aria-label='add comment' rows='8' class='w-1/2'></textarea>
  <button
    class='block border border-black bg-gray-300 p-1 mt-3'
    type='submit'
  >add comment</button>
</form>