<form class='mt-4 ml-3 mb-12'>
  <textarea
    aria-label='add comment'
    rows='7'
    class='w-full md:w-1/2 border border-black'
  ></textarea>
  <button
    class='flex justify-center items-center border border-black bg-light-dark h-5 py-1 px-2 mt-3 font-mono rounded-sm'
    type='submit'
  >add comment</button>
</form>