<form class='mt-4 ml-3'>
  <textarea aria-label='add comment' rows='8' cols='80'></textarea>
  <button
    class='block border border-black bg-gray-300 p-1 mt-3'
    type='submit'
  >add comment</button>
</form>