<footer class='w-full flex flex-col items-center justify-center'>
  <a
    href='https://www.ycombinator.com/apply/'
    rel='noopener noreferrer'
    target='_blank'
    class='text-grey'
  >Applications are open for YC Summer 2022</a>
  <div class='my-3 text-xs'>
    links
  </div>
</footer>