<div class='w-full md:w-10/12 h-full md:my-2'>
  <Navbar />
  <div class='w-full h-full border-solid border-2 bg-ivory'>
    <div class='py-1 pr-2'>
      {{yield}}
    </div>
    {{#unless @hideFooter}}
      <hr class='mt-1 mb-4 border border-safety-orange' />
      <Footer />
    {{/unless}}
  </div>
</div>