<div class='mt-10 w-1/3 flex flex-col justify-center items-center'>
  <img src='https://news.ycombinator.com/yc500.gif' alt='Y Combinator Sign' />
  <div class='bg-ivory text-xs'>
    {{yield}}
    <hr class='my-10 border-2 border-safety-orange' />
  </div>
</div>