{{page-title 'HackerNewsClone'}}

<div class='w-screen h-full flex justify-center items-center text-sm'>
  <div class='w-full sm:w-10/12 h-full'>
    <Navbar />
    <div class='p-2 border-solid border-2 bg-gray-100'>
      {{outlet}}
    </div>
  </div>
</div>